{% extends '../base.html' %}

{% block title %} Introducci&oacute;n {% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Introducci&oacute;n</h1>
</div>
<div>
</div>
<div class="card" style= "margin: 10px; width: 90%">
  <div class="card-body">
   Me llamo Adrián López Couso y son estudiante de ingeniería de software. El desarrollo de esta aplicación web forma parte de mi Trabajo de Fin de Grado, está desarrollada en el framework Django y gracias a la herramienta de contenedores Docker, puede ejecutarse en cualquier dispositivo. He tenido la suerte de contar con Alejandro García de Marina y Carmen Lancho Martín como tutores, los cuales me han ayudado en el desarrollo de este proyecto.
 <br><br>Para poder realizar las pruebas, deberás regístrate. Una vez hecho esto, podrás acceder a los apartados de "Recogida de datos" y "Predicción". En estas pruebas se utilizará JavaScript para desarrollar un keylogger que irá almacenando los timestamp de los eventos keyup, keydown y keypress por teclado, con esto podremos calcular una serie de tiempos que se utilizarán para crear un modelo y analizar al usuario que haya ejecutado las pruebas.
      <br><br>Este proyecto consiste en cinco etapas:
      <br>
      <ol>
          <li>Recogida de datos: se recogerán los datos del usuario una vez haya terminado de escribir un texto de prueba, estos datos se almacenarán en nuestra base de datos.</li>
          <li>Aprendizaje del usuario: el algoritmo de machine learning deberá estudiar como escribe este usuario.</li>
          <li>Predicción: se recogerán y almacenarán los datos de la misma manera que en la primera etapa</li>
          <li>Comprobación: el algoritmo comparará los datos de la etapa de predicción con todos los modelos que se hayan estudiado</li>
          <li>Respuesta: esta etapa mostrará al usuario si ha efectuado la prueba de recogida de datos o no con un mensaje por pantalla.</li>
      </ol>
  </div>
</div>

{% endblock %}