{% extends '../base.html' %}

{% block title %} Introducci&oacute;n {% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Introducci&oacute;n</h1>
</div>
<div>
</div>
<div class="card" style= "margin: 10px;height: 80px; width: 2000px">
  <div class="card-body">
    Algoritmo creado por Alejandro [apellidos] que analizara el texto excrito por el usuario, para asi, aprender de este y en un futuro utilizarlo [usos como seguridad etc] ya que el algortimo habra sido capaz de aprender los metodos que usa el usuario a la hora de escribir por teclado.
    A su vez, todo el Backend y el Frontend de la aplicacion esta realizado por Adri&aacute;n L&oacute;pez Couso (aplicacion que presentara como su TFG).
    Los datos se obtendran desde la aplicacion cada vez que el usuario registre una prueba.
  </div>
</div>

{% endblock %}