{% extends '../base.html' %}

{% block title %} Predicci&oacute;n {% endblock %}

{% block content %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Predicci&oacute;n</h1>
    </div>
    <div>
    </div>
    {#<div class="card" style= "margin: 10px;height: 80px; width: 2000px">#}
    {#  <div class="card-body">#}
    {#    En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados, lantejas los viernes, algún palomino de añadidura los domingos, consumían las tres cuartas partes de su hacienda.#}
    {#  </div>#}
    {#</div>#}
    <br>
    <div class="card" style= "margin-left: 2%;height: 80px; width: 80%">
        <div class="card-body">
            Adrián
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="card" style= "height: 80px;width: 80%; margin-left: 2%">
        <div id="text_in" class="card-body">

        </div>
    </div>
    <br>
    <div>
        <form action="#" id="saveData">
        {% csrf_token %}
            <button id="botonPrueba" onclick="iniciarPrueba()" style="margin-left: 71%; float: left" type="button" class="btn btn-success">Iniciar Prueba</button>
            <input onclick="finalizarPrueba()" type="submit" value="Enviar">
        </form>
    </div>

{% endblock %}