<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link {% if request.path == '/introduccion/' %}active{% endif %}" href="{% url 'introduccion' %}">
                                <div class="sb-nav-link-icon"><i></i></div>
                                Introducci&oacute;n
                            </a>
                            <a class="nav-link {% if request.path == '/prediccion/' %}active{% endif %}" href="{% url 'prediccion' %}">
                                <div class="sb-nav-link-icon"><i></i></div>
                                Predicci&oacute;n
                            </a>
                            <a class="nav-link {% if request.path == '/explicatividad/' %}active{% endif %}" href="{% url 'explicatividad' %}">
                                <div class="sb-nav-link-icon"><i></i></div>
                                Explicatividad
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Invitado
                    </div>
                </nav>
            </div>
</body>
</html>